<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.title %></li>
    <%= link_to "More Details", task_path(task) %>
  <% end %>
</ul>

<%= link_to "Add a task", new_task_path %>


